mixin intWorkshop(info)

  header
    img(src='./../../images/header.jpg')
    h1 Ayurvedic Yoga Massage

  #apply_navbar
    a(href='./../../index.html') back to main site

  #info
    h2 Ayurvedic Yoga Massage Intensive Training
    h4= info.date
    p 9am - 4pm, with an hour lunch break
    h4= info.place
    iframe.map(src=info.iframeSrc frameborder=0)
    p= info.address
    p &pound;350 for individuals, &pound;90 deposit requested at least two weeks before start date
    p Full refund for instructor cancellation
    p.
      It is important to have attended a workshop session before taking the training course.<br>
      Alternatively, you can phone or <a href="mailto:saghar@ayurvedicyogamassage.org.uk">email Saghar</a> to arrange a short interview.

    form(method='post' action='./../../php/processIntWorkshopForm.php' onsubmit='return validate(this)')
      p To apply for a place on this training course, please fill out the following form, and I'll get back to you as soon as I can.

      p I care about your privacy, and I will not share any of your information with anybody.

      fieldset
        p Your details
        div
          input.name(type='text' name='name' placeholder='Your name' autocomplete='off' required autofocus)
        div
          select.gender(name='gender' required)
            option(value='female') female
            option(value='male') male
            option(value='other-gender') it's complicated
        div
          input.age(type='number' name='age' placeholder='Your age' autocomplete='off' required)
        div
          input.tel(type='tel' name='tel' placeholder='Your phone number' autocomplete='off' required)
        div
          input.email(type='email' name='email' placeholder='Your email address' required)
        div
          span.question Any relevant health conditions?
          input#health-box(type='checkbox' autocomplete='off')
          textarea#health(name='health' rows=3 cols=30 placeholder='Please provide brief details...' autocomplete='off')
        div
          span.question Are you taking any medications?
          input#meds-box(type='checkbox' autocomplete='off')
          textarea#meds(name='medic' rows=3 cols=30 placeholder='Please provide relevant details...' autocomplete='off')
        div
          span.question Have you taken any of our workshops?
          input#wksh-box(type='checkbox' autocomplete='off')
          textarea#workshop(name='wksh' rows=3 cols=30 placeholder='Please provide brief details of location and approximate date...' autocomplete='off')
        div
          span.question Do you have any other training course qualification?
          input#quals-box(type='checkbox' autocomplete='off')
          textarea#quals(name='quals' rows=3 cols=30 placeholder='Please provide brief details' autocomplete='off')

        //- css hidden honeypot - only automated spammers will see this and attempt to fill
        div
          input.website(type='text' name='website' autocomplete='off')


        div
          input(name='subject' type='hidden' value=info.ID)
          input(name='date' type='hidden' value=info.date)
          input(name='place' type='hidden' value=info.place)
          input(name='address' type='hidden' value=info.address)
          input(name='iframeSrc' type='hidden' value=info.iframeSrc)

          input(type='submit' value='Apply for course' name='button')


  script(src='../../js/validators.js')

  script.
    $(document).ready(() => {
      $('#health-box').click(() => {
        $('#health').fadeToggle(400)
      })
      $('#meds-box').click(() => {
        $('#meds').fadeToggle(400)
      })
      $('#quals-box').click(() => {
        $('#quals').fadeToggle(400)
      })
      $('#wksh-box').click(() => {
        $('#workshop').fadeToggle(400)
      })
    })

